.format {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}

.format:focus-within #reaction {
  display: block;
  outline: none;
}

.format:not(:focus-within) #reaction {
  display: none;
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  padding-right: 16px !important;
}

.content > div > input {
  padding: 8px !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
}

.content > div:global(.Mui-disabled) > fieldset {
  border-width: 0 !important;
}
